<div class="container"> 
  <h1 class="text-center">Welcome to my Rails Blog</h1>
  <hr>
  <p>This was created as for me to practice and understand Ruby on Rails better. 
     Hopefully in the future there will be bigger and better things for you to see. But in the meantime, please enjoy my blog:
  <p>
    <%= link_to 'Go to My Blog', controller: 'articles' %>
  </p>
</div>
</div>